
    <div *ngIf="promotedRealEstates" class="container">
        <div class="row">
            <div class="col-md-4">
                <app-real-estate-card [realEstate]="promotedRealEstates[modulo(cnt,promotedRealEstates.length)]">
                </app-real-estate-card>
            </div>
            <div class="col-md-4">
                <app-real-estate-card [realEstate]="promotedRealEstates[modulo(cnt+1,promotedRealEstates.length)]">
                </app-real-estate-card>
            </div>
            <div class="col-md-4">
                <app-real-estate-card [realEstate]="promotedRealEstates[modulo(cnt+2,promotedRealEstates.length)]">
                </app-real-estate-card>
            </div>

        </div>
        <div *ngIf="promotedRealEstates.length>3" class="row">
            <button mat-button (click)="left()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-button (click)="right()" class="ml-auto mr-3">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
        <hr>
    </div>
