<div class='container' *ngIf='user'>
    <div class="mat-headline"> Profile information </div>
    <div class='row'>
        <div class='col-md-7'>
            <form>
                <mat-form-field class="example-full-width">
                    <mat-label>Firstname</mat-label>
                    <input matInput [(ngModel)]="user.firstName" name="firstName" placeholder="{{user.firstName}}"
                        [disabled]="!changeData" required>

                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Lastname</mat-label>
                    <input matInput [(ngModel)]="user.lastName" name="lastName" required [disabled]="!changeData">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="user.username" name="username" required disabled="disabled">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="user.email" required disabled="disabled">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <input matInput name="country" [(ngModel)]="user.country" required disabled="disabled"
                        [disabled]="!changeData">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input matInput name="city" [(ngModel)]="user.city" required disabled="disabled"
                        [disabled]="!changeData">
                </mat-form-field>
            </form>
            <div *ngIf="!changeData && (loggedUser.username==user.username || loggedUser.type=='admin')">
                <button mat-raised-button (click)="changeData=true">Change user data</button>
                <button mat-raised-button (click)="changePassRoute()">Change password</button>
            </div>
            <div *ngIf="changeData">
                <button mat-raised-button (click)="save()">Save</button>
            </div>

        </div>
        <div class='col-md-5'>
            <div *ngIf="user.avatar">
                <img src="http://localhost:4000/img/avatar/{{user.username}}.jpeg" class="img-thumbnail">
            </div>
            <div *ngIf="!user.avatar">
                <img src="http://localhost:4000/img/realEstates/default/default.png" class="img-fluid">
            </div>
            <div *ngIf="loggedUser.username==user.username || loggedUser.type=='admin'">
                <button type="button" class="button" mat-raised-button (click)="fileInput.click()"
                    id="addImgButton">Change profile picture</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file"
                    accept=".png,.jpg,.jpeg">
            </div>
            <div *ngIf="loggedUser.type=='admin' && user.type!='admin'">
                <br>
                <button mat-raised-button (click)='deleteUser()'>Delete user</button>
            </div>
        </div>
    </div>
</div>